<nav class="navbar navbar-expand navbar-light bg-dark">
  <div>
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Scolarité</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/etudiant">Étudiants</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/specialite">Spécialités</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/etudiantsParis">Étudiants Parisiens</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/etudiantsHorsParis">Étudiants Hors Paris</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/formulaires">Formulaires</a>
      </li>
    </ul>
  </div>
</nav>
