<h1>Ajouter des Spécialités</h1>
<form class="form">
  <div class="form-group">
    <label for="libelle">Libellé:</label>
    <input
      type="text"
      id="libelle"
      formControlName="libelle"
      class="form-control"
    />
  </div>
  <div class="form-group">
    <label for="idSpec">Id spécialité:</label>
    <input
      type="text"
      id="idSpec"
      formControlName="idSpec"
      class="form-control"
    />
  </div>
  <button type="submit" class="btn btn-primary mt-3">Ajouter</button>
</form>
